.header {
    max-width: 880px;
    min-height: 74px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 45px;
    display: flex;
    /*align-items: center;*/
    
    justify-content: left;
}

@media screen and (max-width: 1024px) {
    .header {
       
    }
}

@media screen and (max-width: 768px) {
    .header {
       
    }
}

@media screen and (max-width: 320px) {
    .header {
       
    }
}