.close-icon {
    background-image: url(../../images/CloseIcon.svg);
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    margin-left: 700px;
    background-color: black;
}

.close-icon:hover {
    opacity: 0.5;
}

@media screen and (max-width: 500px) {
    .close-icon {
        
        width: 20px;
        height: 20px;
        margin-left: 257px;
    }
}