.footer {
    margin-top: 67px;
    margin-left: 170px;
    margin-right: 200px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
        max-width: 282px;
    }
}