.profile__editButton {
    min-height: 28px;
    margin-left: 307px;
    margin-top: -79px;
    background-image: url(../../../images/editbutton.svg);
    background-repeat: no-repeat;
    background-color: black;
    border: 1px solid white;
    padding: 0 0 0 0;
    background-position: center;
    min-width: 28px;
    max-width: 28px;
}

.profile__editButton:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .profile__editButton {
        margin-top: -40px;
        margin-left: 250px;
        min-width: 28px;
    }
}

@media screen and (max-width: 320px) {
    .profile__editButton {
        max-width: 18px;
        margin-left: 215px;
        margin-top: -75px;
    }
}