.profile__editButton {
    min-width: 28px;
    min-height: 28px;
margin-left: 307px;
margin-top: -79px;
background-image: url(../../../images/EditButton.svg);
background-repeat: no-repeat;
background-color: black;
padding: 0 0 0 0;
}

.profile__editButton:hover{
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .profile__editButton{
margin-top: -40px;
margin-left: 190px;
    }}

@media screen and (max-width: 320px) {
    .profile__editButton{
        min-width: 18px;
        min-height: 28px;
        margin-left: 225px;
        margin-top: -75px;
    }
}